/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/

@import 'vue-universal-modal/dist/index.css';
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #d1d1d1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #d1d1d1;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 0px double #853838;
}


.btn-black{
    color: #fff;
    background-color: rgba(0,0,0,0.95)!important;
    border-color:rgba(0,0,0,0.85)!important;
}

.btn-inactive{
    color: rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,255.95)!important;
    border-color:rgba(0,0,0,0.85)!important;
}

.btn-black:hover{
    color: rgba(255,255,255,0.9);
    border-color:rgba(255,255,255,0.9)!important;
}
.user-popup{
    /*background: #fff none repeat scroll 0 0;*/
    /*box-shadow: 0 1px 5px rgb(0 0 0 / 15%);*/
    color: #999;
    display: none;
    font-size: 12px;
    padding: 10px 20px;
    position: absolute;
    right: 0px;
    top: 100%;
    transition: all 0.5s ease 0s;
    width: 360px;
}

.user-popup.active{
    animation: 0.4s ease 0s normal both 1 running fadeInUp;
    display: block;
    z-index: 999999999;
}


.stick  .top-user-title{

line-height: 80px;
}


.top-user-title{

    line-height: 100px;
}

.cat_icon > a.remove{
    line-height: 40px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    font-weight: 900;
}

.cat_icon > .remove:hover{
    background-color:red;
}


@font-face {
    font-family: 'Monoton';
    src: url(font/MacondoSwashCaps-Regular.ttf);
}


.slide-title-fix-1{

    margin-left: 5vw;
    float: left;
    margin-top: 30vh;
    color:rgba(0,0,0,0.9);

}


.slide-title-fix-1-layer-2  {
    /*font-family: 'Monoton'!important;*/
    text-shadow: 5px 5px rgba(0,0,0,0.19);
    /*font-size: 55px;*/
    font-weight: 900;
    /*letter-spacing: 7px;*/
    /*line-height: 55px;*/
    /*text-transform: uppercase;*/
    /*margin: 0;*/
}

.slide-title-fix-2{

    margin-right: 5vw;
    float: right;
    margin-top: 20vh;
    color:rgba(0,0,0,0.9);
    /*text-shadow: 5px 5px rgba(0,0,0,0.19);*/
}

.slide-title-fix-3{
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.45);
    margin-left: 10vw;
    float: left;
    margin-top: 60vh!important;
    color:rgba(0,0,0,0.9);
    border-radius: 30px;
    /*box-shadow: 5px 10px rgba(0,0,0,0.5);*/
}

.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.pl-2{
    padding-left:0.446rem ;
}
.pr-2{
    padding-right:0.446rem!important; ;
}
.ml-2{
    margin-left:0.446rem ;
}
.mr-2{
    margin-right:0.446rem!important; ;
}
.cursor-pointer{
    cursor: pointer;
}
.tab-nav-btn{

}
.tab-nav-btn.active{
    background-color: rgba(0,0,0,0.19)!important;
}
.tab-nav-btn:hover{
    background-color: rgba(0,0,0,1)!important;
    color: rgba(255,255,255,0.8)!important;
    text-shadow: 5px 5px rgba(255,255,255,0.19);
}
.tab-nav-btn.active:hover{
    background-color: rgba(0,0,0,0.39)!important;
    color:  rgba(0,0,0,1)!important;
}
.tab-nav-btn-or{

}

.text-shadow-white{
    text-shadow: 5px 5px rgba(255,255,255,0.19);
}
.loading{
    max-height: 15px;max-width: 15px;
}

.h-full{
    height: 100%;
}
.w-full{
    width: 100%;
}
.bg-theme{
    background-color: rgba(0,0,0,1)!important;
    color: rgba(255,255,255,1)!important;
}


.img-wish{
    max-height: 60px;
}

.wish-button{

}
.wish-button:hover{
    --bs-text-opacity: 0.9;
    color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity));
}

.floating-filter-button{
    display: block;
    position: fixed;
    bottom: 35px;
    cursor: pointer;
    z-index: 50;
    float: right;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
    background-color: rgba(0,0,0,0.8);
}
.bottom-sticky-navbar{
    display: block;
    position: fixed;
    bottom: 0;
    max-height: 30px;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.8);
    text-align: center;
    z-index: 50;
}

.top-marquee{
    width: 100vw;
    color:rgba(255,255,255,0.95);
    line-height: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: -31px;
    position: absolute;
    background-color: rgba(0,0,0,0.45);
    padding: 10px 0;
}

.home-5 .muti_menu ul li a.active{
    border-bottom: 1px solid rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.7);
    cursor:not-allowed;
    transform: rotate(-9deg);
    margin-top: 30px;
    line-height: 30px;
}

.home-2 .header-menu.stick .muti_menu ul li a.active{
    background-color: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(255,255,255,0.8);
    cursor:not-allowed;
    transform: rotate(9deg);
    margin-top: 30px;
    line-height: 30px;

}

.home-2 .header-menu.stick .muti_menu ul li a.active:hover .fa{
    text-shadow: 5px 5px rgba(0,0,0,0.19);


}

.home-5 .muti_menu ul li a.active:hover {
    background-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.7);
}

.home-5 .muti_menu ul li a:hover .fa{
    text-shadow: 5px 5px rgba(255,255,255,0.19);
}
.home-2 .header-menu.stick .muti_menu ul li a.active:hover{
    background-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.7);
}

.home-5 .muti_menu ul li a.active .header-text{
    text-transform: lowercase;
    text-decoration: underline;

}


.logo-when-not-sticky{
    opacity: 1;
    max-height: 50px;
    transition:opacity 1000ms ease-in,position 800ms ease-in;
    /*transition:max-height 800ms ease-in-out,margin 800ms ease-in-out;*/
}

.logo-when-sticky{

    margin-top: 20px;
    position: absolute;
    margin-left: -63px;
    max-height: 10px;
    opacity: 0;
    transition:opacity 1000ms ease-out,max-height 800ms ease-out,position  800ms ease-out;

}

.stick .logo-when-not-sticky{
    position: absolute;
    opacity: 0;
    transition:opacity 1ms ease-in,position 1000ms ease-in;
}

.stick .logo-when-sticky{
    opacity: 1;
    margin-top: 0px;
    margin-left: 0;
    max-height: 25px;
    transition:max-height 1000ms ease-out,margin-left 800ms ease-out;
    position: relative;
}

.productList-hidden{
    height: 0;
    transition:height 1000ms ease-out,margin-left 800ms ease-out;
}
.productList-hidden .productList-table{
   display: none;
}

.productList-show .productList-table{
    width: 100%;

}

.productList-show{
    margin: 0;
    height:auto;
    transition:height 1000ms ease-out,margin-left 800ms ease-out;
}

.orderList-title{
    margin:auto 10px;
}

.active-orderList{

}

.active-orderList .orderList-title{
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.p-0{
    padding:0;
}

.tb-info-login h5.tb-title4{
    margin-top: 0;
    border-bottom: 1px solid #f0f0f0;
}


.product-img{
    min-height: 363px;
    background-size: cover;
    background-position: center;
}
.tb-product-item .product-img{
    min-height: 143px;
    background-size: cover;
    background-position: center;
}
.btn-outline-black{
    border-color: rgba(0,0,0,0.95)!important;
}
.btn-outline-black:hover{
    background-color: rgba(0,0,0,0.65)!important;
    color: rgba(255,255,255,0.95)!important;

}
.us-text-headline{
    color: rgba(0,0,0,1);
    font-weight: 800;
    line-height: 28.8px;
    font-size:24px ;
}

.us-text-headline img{
    max-height:18px;
    margin: -3px 5px 0 10px;
    padding: 0;
}
.btn-black img{
    max-height: 12px;
    margin: -2px 3px 0 6px;
}

.card.selected{
    border-color:rgba(0,0,0,0.95);
}
.card.selected .card-header{
    color:rgba(0,0,0,0.95);
    font-weight: bold;
}
.features-tab .shop-all-tab{
    display: flex;
    justify-content: space-between;
}
